<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
</head>
<body>

	<div class="container base">
		<div class="row base-row">
			<div class="col-3 menu">
			<div class="logo mb-5 text-center text-light bg-dark pt-1 pb-1">
			<h4>Autocar Réservation</h4>
			</div>
				<ul class="list">
					<li><a th:classappend="${menu == 'home'} ? 'text-dark' : ' '" th:href="@{/home}"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
					<li><a th:href="@{/setting}"><i class="fas fa-cogs"></i>&nbsp;&nbsp;Setting</a></li>
					<li><a th:href="@{/home}"><i class="fas fa-cogs"></i>&nbsp;&nbsp;Trajets</a></li>
					<li><a th:href="@{/societies}"><i class="fas fa-cogs"></i>&nbsp;&nbsp;Sociétés</a></li>
					<li><a th:href="@{/bus}"><i class="fas fa-cogs"></i>&nbsp;&nbsp;Autocars</a></li>
					<li th:if="${session.role == 'ADMIN'}"><a
						th:href="@{/all-customers-records}"><i class="fas fa-users"></i>&nbsp;&nbsp;Utilisateurs</a></li>
					<li th:if="${session.role == 'ADMIN'}"><a th:href="@{/all-subs}"><i
							class="fas fa-history"></i>&nbsp;&nbsp;Abonnements</a></li>
					<li th:if="${session.role != 'ADMIN'}"><a th:href="@{/my-subs}"><i
							class="fas fa-history"></i>&nbsp;&nbsp;Mes Abonnements</a></li>
					<li><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a></li>
				</ul>
			</div>
			<div class="col-9 main-dashboard">

				<div class="main-dashboard-head">
					<form action="">
						<input type="text" placeholder="Chercher des offres..," />
						<button>
							<i class="fa fa-search"></i>
						</button>

					</form>
					<div class="main-dashboard-right">
						<p>
							<span><i class="fas fa-user"></i></span>&nbsp;<span
								class="name-user" th:if="${session.user.name}"
								th:text="${session.user.name}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</p>
					</div>

				</div>
				<div class="notice">
					<h5 class="bg-warning text-light text-center"><span th:text="${message}"></span></h5>
				</div>

				<table class="table table-striped">
					<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Départ</th>
						<th scope="col">Arrivée</th>
						<th scope="col">Date Début</th>
						<th scope="col">Date Fin</th>
						<th scope="col">Prix</th>
						<th scope="col">Action</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="trajet: ${listTrajets}">
						<th th:text="${trajet.id}"></th>
						<th th:text="${trajet.depart}"></th>
						<th th:text="${trajet.arrive}"></th>
						<th th:text="${trajet.dateDebut}"></th>
						<th th:text="${trajet.dateFin}"></th>
						<th th:text="${trajet.prix}"></th>
						<th>
							<a th:if="${session.role == 'ADMIN'}" th:href="@{all-subs/{id}(id=${trajet.id})}">Voir les Abonnements</a>
							<a th:if="${session.role != 'ADMIN'}" th:href="@{subscribe/{id}(id=${trajet.id})}">Abonner</a>
						</th>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

</body>
</html>