<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
</head>
<body>

	<div class="container base">
		<div class="row base-row">
			<div class="col-3 menu">
			<div class="logo mb-5 text-center text-light bg-dark pt-1 pb-1">
			<h4>Autocar Réservation</h4>
			</div>
				<ul class="list">
					<li><a th:href="@{/home}"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
					<li><a th:classappend="${menu == 'setting'} ? 'text-dark' : ' '" th:href="@{/setting}"><i class="fas fa-cogs"></i>&nbsp;&nbsp;Setting</a></li>
					<li th:if="${session.role == 'ADMIN'}"><a
						th:href="@{/all-customers-records}"><i class="fas fa-users"></i>&nbsp;&nbsp;Utilisateurs</a></li>
					<li th:if="${session.role == 'ADMIN'}"><a th:href="@{/all-subs}"><i
							class="fas fa-history"></i>&nbsp;&nbsp;Abonnements</a></li>
					<li th:if="${session.role != 'ADMIN'}"><a th:href="@{/my-subs}"><i
							class="fas fa-history"></i>&nbsp;&nbsp;Mes Abonnements</a></li>
					<li><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a></li>
				</ul>
			</div>
			<div class="col-9 history">
				<div class="history-section">
					<div class="history-head">
						<p>
							<span><i class="fas fa-user"></i></span>&nbsp;<span
								class="name-user" th:if="${session.user.name}"
								th:text="${session.user.name}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</p>
					</div>

					<div class="setting-details">
						<form th:action="@{/setting/update-details}" method="post">
							<table class="table table-borderless">
								<tbody>
								<tr>
									<th >User Id</th>
									<td ><span th:text="${customer.id}"></span></td>

								</tr>
								<tr>
									<th>Nom</th>
									<td ><input type="text" name="name"
												th:value="${customer.name}" /></td>

								</tr>
								<tr>
									<th>Prénom</th>
									<td ><input type="text" name="prenom"
												th:value="${customer.prenom}" /></td>

								</tr>
								<tr>
									<th>Adresse</th>
									<td ><input type="text" name="adresse"
												th:value="${customer.adresse}" /></td>

								</tr>
								<tr>
									<th>Email</th>
									<td ><input type="text" name="email"
												th:value="${customer.email}" /></td>

								</tr>
								<tr>
									<th>CIN</th>
									<td ><input type="text" name="cin"
												th:value="${customer.cin}" /></td>

								</tr>
								<tr>
									<th>Téléphone</th>
									<td ><input type="text" name="phone"
												th:value="${customer.phone}" /></td>

								</tr>
								<tr>
									<th>Role</th>
									<td >
										<span th:text="${customer.role}"></span></td>

								</tr>

								</tbody>
							</table>
							<div class="btn5 text-center">
								<button class="btn btn-primary" type="submit">Update</button>
							</div>


						</form>
					</div>


				</div>
			</div>
		</div>

	</div>

	<!-- <script th:inline="javascript">
	let str = [[${list1}]];
	let obj = JSON.parse(str);
	console.log(obj.seat);
	document.write(obj);
	
	</script> -->
</body>
</html>